@using Nop.Web.Framework.Infrastructure
@*@inject Nop.Core.Domain.Common.AdminAreaSettings adminAreaSettings
    @using Wombit.Plugin.Widgets.BetterDocs.Models
    @using Nop.Web.Framework.Models.DataTables
    @model DocumentSearchModel
    @{
    Layout = "_ConfigurePlugin";
    }

    <form asp-controller="BetterDocs" asp-action="Configure" method="post" id="document-form">
    <div class="cards-group">
    <div class="card card-default">
    <div class="card-body">
    @await Html.PartialAsync("Table", new DataTablesModel
    {
    Name = "documents-grid",
    UrlRead = new DataUrl("List", "BetterDocs", null),
    UrlDelete = new DataUrl("Delete", "BetterDocs", null),
    Length = Model.PageSize,
    LengthMenu = Model.AvailablePageSizes,
    ColumnCollection = new List<ColumnProperty>
    {
    new ColumnProperty(nameof(DocumentModel.Title))
    {
    Title = T("Wombit.Document.Fields.Title").Text,
    Width = "200"
    }
    }
    })
    </div>


    <div class="card-footer">
    <button type="submit" id="btnAddNewDocument" name="save" class="btn btn-primary" onclick="javascript:OpenWindow('@(Url.Action("Create", "BetterDocs",  new { btnId = "btnRefresh", formId = "documents-form" }))', 800, 800, true); return false;">@T("Wombit.Document.Betterdocs.AddNew")</button>

    <button id="btnRefresh" type="submit" name="save" class="btn btn-default" style="display: none"></button>
    </div>
    <script>
    $(document).ready(function () {
    $('#btnRefresh').click(function () {
    updateTable('#documents-grid');

    return false;
    });
    });
    </script>
    </div>
    </div>
    </form>*@

@model Wombit.Plugin.Widgets.BetterDocs.Models.DocumentSearchModel
@using Nop.Web.Framework.Models.DataTables
@using Wombit.Plugin.Widgets.BetterDocs.Models

@{

    ViewBag.PageTitle = T("Wombit.Admin.Documents").Text;
    Html.SetActiveMenuItemSystemName("Documents");
}

<div class="content-header clearfix">
    <h1 class="float-left">
        @T("Admin.Catalog.Categories")
    </h1>
    <div class="float-right">
        <a asp-action="Create" class="btn btn-primary">
            <i class="fas fa-plus-square"></i>
            @T("Admin.Common.AddNew")
        </a>
        <button type="button" id="delete-selected" class="btn btn-danger">
            <i class="far fa-trash-alt"></i>
            @T("Admin.Common.Delete.Selected")
        </button>
        <nop-action-confirmation asp-button-id="delete-selected" />
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="cards-group">
                <div class="card card-default">
                    <div class="card-body">
                        <nop-doc-reference asp-string-resource="@T("Admin.Documentation.Reference.Categories")" />

                        @await Html.PartialAsync("Table", new DataTablesModel
                        {
                        Name = "documents-grid",
                        UrlRead = new DataUrl("List", "BetterDocs", null),
                        Length = Model.PageSize,
                        LengthMenu = Model.AvailablePageSizes,
                        ColumnCollection = new List<ColumnProperty>
                        {
                        new ColumnProperty(nameof(DocumentModel.Id))
                        {
                        IsMasterCheckBox = true,
                        Render = new RenderCheckBox("checkbox_documents"),
                        ClassName =  NopColumnClassDefaults.CenterAll,
                        Width = "50"
                        },
                        new ColumnProperty(nameof(DocumentModel.Title))
                        {
                        Title = T("Wombit.Document.Fields.Title").Text,
                        Width = "200"
                        },
                        new ColumnProperty(nameof(DocumentModel.Id))
                        {
                        Title = T("Admin.Common.Edit").Text,
                        Width = "100",
                        ClassName =  NopColumnClassDefaults.Button,
                        Render = new RenderButtonEdit(new DataUrl("Edit"))
                        }
                        }
                        })


                        <script>
                            $(document).ready(function () {
                                $('#delete-selected-action-confirmation-submit-button').bind('click', function () {
                                    var postData = {
                                        selectedIds: selectedIds
                                    };
                                    addAntiForgeryToken(postData);
                                    $.ajax({
                                        cache: false,
                                        type: "POST",
                                        url: "@(Url.Action("DeleteSelected", "Documents"))",
                                        data: postData,
                                        error: function (jqXHR, textStatus, errorThrown) {
                                            $('#deleteSelectedFailed-info').text(errorThrown);
                                            $('#deleteSelectedFailed').click();
                                        },
                                        complete: function (jqXHR, textStatus) {
                                            updateTable('#categories-grid');
                                        }
                                    });
                                    $('#delete-selected-action-confirmation').modal('toggle');
                                    return false;
                                });
                            });
                        </script>
                        <nop-alert asp-alert-id="deleteSelectedFailed" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

