@model DocumentModel

 @{
    const string hideInfoBlockAttributeName = "DocumentPage.HideInfoBlock";
    var hideInfoBlock = await genericAttributeService.GetAttributeAsync<bool>(await workContext.GetCurrentCustomerAsync(), hideInfoBlockAttributeName);

    const string hideProductBlockAttributeName = "DocumentPage.HideDisplayBlock";
    var hideDisplayBlock = await genericAttributeService.GetAttributeAsync<bool>(await workContext.GetCurrentCustomerAsync(), hideProductBlockAttributeName, defaultValue: true);
}

<div asp-validation-summary="All"></div>
@*<input asp-for="Id" type="hidden" />*@

<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">

            <nop-cards id="category-cards">
                <nop-card asp-name="documents-info" asp-icon="fas fa-info" asp-title="@T("Plugins.Widgets.BetterDocs.Admin.Fields.Documents.Info")" asp-hide-block-attribute-name="@hideInfoBlockAttributeName" asp-hide="@hideInfoBlock" >@await Html.PartialAsync("~/Plugins/Widgets.BetterDocs/Areas/Admin/Components/Views/_CreateOrUpdate.Info.cshtml", Model)</nop-card>
                <nop-card asp-name="documents-products" asp-icon="fas fa-tv" asp-title="@T("Plugins.Widgets.BetterDocs.Admin.Fields.Documents.Products")" asp-hide-block-attribute-name="@hideProductBlockAttributeName" asp-hide="@hideDisplayBlock" >@await Html.PartialAsync("~/Plugins/Widgets.BetterDocs/Areas/Admin/Components/Views/_CreateOrUpdate.Products.cshtml", Model)</nop-card>

            </nop-cards>
        </div>
    </div>
</section>